@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  border: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #7e9ee4;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7e9ee4;
}

::-webkit-scrollbar-track {
  background-color: #c2d5ff;
}

::-webkit-scrollbar-track:hover {
  background-color: #bbd1ff;
}

table {
  width: 100% !important;
  height: min-content !important;
  text-align: center !important;
  overflow: hidden !important;
  border-collapse: collapse !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
  margin-top: 10px !important;

  td {
    padding: 5px !important;
    font-weight: normal !important;
  }

  th {
    font-weight: bold !important;
    text-align: center !important;
    padding: 5px !important;
    background-color: #dde7ff !important;
  }

  tr:nth-of-type(odd) {
    background-color: #92aeec23 !important;
  }
}
