<div class="login-page__container">
  <div class="login-page__form-container">
    <h2>Login</h2>

    <span class="login-page__login-message"
      >(Use as credenciais da UNIP para fazer Login)</span
    >

    <form
      class="login-page__form"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <nb-form-field>
        <nb-icon nbPrefix icon="person-outline" pack="eva"></nb-icon>
        <input
          fullWidth
          type="text"
          placeholder="Matricula"
          formControlName="userId"
          nbInput
        />
      </nb-form-field>

      <nb-form-field>
        <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
        <input
          fullWidth
          [type]="inputType"
          placeholder="Senha"
          formControlName="password"
          nbInput
        />
        <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
          <nb-icon
            [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
            pack="eva"
          >
          </nb-icon>
        </button>
      </nb-form-field>

      <button
        fullWidth
        nbButton
        hero
        status="primary"
        [nbSpinner]="loading"
        nbSpinnerStatus="primary"
        [disabled]="loading"
      >
        <nb-icon icon="log-in-outline"></nb-icon>
        <span>Login</span>
      </button>
    </form>
  </div>
</div>
