@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.app-main {
  padding: 0 !important;
  display: flex;
  height: 100vh;
  background-color: #EDF1F7;
  overflow-y: hidden;
}
