.home-page {
  &__container {
    background-color: #00000010;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    padding-top: 70px;

    h2 {
      margin-bottom: 20px;
    }
  }

  &__courses-container {
    display: grid;
    gap: 15px;

    @media screen and (min-width: 1220px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1220px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 840px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
