:host {
  display: flex;
  overflow-y: hidden;
}

.home-page {
  &__container {
    background-color: #92aeec25;
    width: 100vw;
    padding: 20px;
    height: 100vh;
    margin-bottom: 20px;
    overflow: hidden scroll;

    h2 {
      margin-bottom: 20px;
    }
  }

  &__courses-container {
    display: grid;
    gap: 15px;

    @media screen and (min-width: 1570px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1570px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 1190px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
