<nb-layout-header fixed>
  <img
    src="https://imgs.search.brave.com/KyX-ZeN22eXqB_pdYVi1osq7UcXEpY0ZDtpxajOQY6g/rs:fit:512:512:1/g:ce/aHR0cHM6Ly9wbGF5/LWxoLmdvb2dsZXVz/ZXJjb250ZW50LmNv/bS9WelVmRXpaMnEt/eTZsV2w5bGlLR1R4/ZzdkNlltNWk3eVlh/SE5IWm9nTjhWRHJ4/MFJKSjYwNTVtUlZV/ek5NcVQ3Y2k5dg"
    alt="UNIP Logo"
    height="40px"
  />
  <h1>UNIP Web Scrapper</h1>
</nb-layout-header>

<div class="home-page__container">
  <p>Home works!</p>
  <p *ngFor="let course of courses">{{ course.name  }}</p>
</div>
