<div
  class="course-card__container"
  *ngIf="course"
  [nbSpinner]="loading"
  nbSpinnerStatus="info"
>
  <header>
    <h3 class="course-card__title">{{ course.name }}</h3>
    <app-card-actions
      [course]="course"
      (onReload)="onReloadData()"
    ></app-card-actions>
  </header>

  <span class="course-card__course-code">
    <strong>Turma</strong>: {{ course.code }}
  </span>

  <app-course-notes
    [course]="course"
    (loadingState)="onChangeLoadingState($event)"
  ></app-course-notes>
</div>
