<div class="course-card__container" *ngIf="course">
  <header>
    <h3 class="course-card__title">{{ course.name }}</h3>
    <button
      nbButton
      status="danger"
      size="tiny"
      shape="round"
      (click)="onReload()"
    >
      <nb-icon icon="refresh"></nb-icon>
    </button>
  </header>
  <span class="course-card__course-code">
    <strong>Turma</strong>: {{ course.code }}
  </span>

  <app-course-notes [course]="course"></app-course-notes>

  <!-- <div class="actions">
    <button nbButton hero shape="semi-round" status="info">Ver Notas</button>
    <button nbButton hero shape="semi-round" status="info">Info</button>
  </div> -->
</div>
