.course-card {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #222b45;
    padding: 15px;
    border-radius: 10px;

    header {
      display: flex;
      justify-content: space-between;

      button {
        height: min-content;
      }
    }
  }

  &__title {
    font-size: 20px;
    line-height: 20px;
  }

  &__course-code {
    color: #ff7f7f;;
  }
}
