.course-card {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #222b45;
    padding: 10px;
    border-radius: 10px;
  }

  &.__title {
    font-size: 20px;
    line-height: 28px;
  }

  &__course-code {
    color: #ff7f7f;;
  }
}
