<div
  class="course-card__container"
  *ngIf="course"
  [nbSpinner]="loading"
  nbSpinnerStatus="danger"
>
  <header>
    <h3 class="course-card__title">{{ course.name }}</h3>
    <button
      nbButton
      status="danger"
      size="tiny"
      shape="round"
      (click)="onReloadData()"
    >
      <nb-icon icon="refresh"></nb-icon>
    </button>
  </header>
  <span class="course-card__course-code">
    <strong>Turma</strong>: {{ course.code }}
  </span>

  <app-course-notes
    [course]="course"
    (loadingState)="onChangeLoadingState($event)"
  ></app-course-notes>
</div>
