.course-card {
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.025);
    transition-duration: 0.2s;

    header {
      display: flex;
      justify-content: space-between;

      button {
        height: min-content;
      }
    }

    &:hover {
      transform: scale(1.005);
    }
  }

  &__title {
    font-size: 17px;
    line-height: 17px;
  }

  &__course-code {
    color: #4b7de7;
    font-size: 12px;
    line-height: 12px;
  }
}
