.course-modal,
.course-modal-hiding {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1041 !important;
  animation: blurBackground 300ms ease-in-out forwards;
  
  &__container {
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.082);
    width: 700px;
    border-radius: 10px;
    animation: openModal 400ms forwards;
    padding: 25px;

    &-hiding {
      animation: closeModal 400ms forwards !important;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0 3px 20px 8px;
    padding-bottom: 10px;
    border-bottom: 1px solid #1b305c1a;

    .book-icon {
      transform: scale(1.8);
    }

    .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &__unidades-list {
    width: 100%;  
    list-style: none;
    margin: 10px 0 0;
    height: auto;
    overflow-y: scroll;
    max-height: 60vh;
    padding: 0 10px;

    &-tables-container {
      width: 100%;
      margin: 0 0 10px;
  
      span {
        color: #4b7de7;
      }
  
      table {
        width: 100%;

        td:last-child, th:last-child {
          text-align: center;
        }
      }
    }

    footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-top: 15px;
    }
  }

}

.course-modal-hiding {
  animation: unblurBackground 400ms forwards;
}

@keyframes openModal {
  from {
    opacity: 0;
    transform: translateY(50vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(50vh);
  }
}

@keyframes blurBackground {
  from {
    background: #00000000;
    backdrop-filter: blur(0);
  }

  to {
    background: #92aeec27;
    backdrop-filter: blur(7.5px);
  }
}

@keyframes unblurBackground {
  from {
    background: rgb(183 45 103 / 4.3%);
    backdrop-filter: blur(7.5px);
  }

  to {
    background: rgb(183 45 103 / 0%);
    backdrop-filter: blur(0);
  }
}
