:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  tr:last-child td {
    font-weight: bold;
    background-color: #e6edff;
  }

  td.nb-column-item {
    text-align: start;
    padding: 0 10px;
  }

  th.nb-column-nota {
    width: 100px;
  }

  th.nb-column-concluido {
    width: 100px;
  }
}

.empty-state-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  gap: 10px;

  span {
    font-weight: 400;
    color: #ffffff6c;
  }
}