:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 100%;
  height: min-content;
  text-align: center;
  overflow: hidden;
  border-collapse: separate;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 10px;

  td {
    padding: 5px;
    font-weight: normal;
  }

  th {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background-color: #dde7ff;
  }

  tr:nth-of-type(odd) {
    background-color: #92aeec23;
  }

  td.nb-column-item {
    text-align: start;
    padding: 0 10px;
  }

  th.nb-column-nota {
    width: 100px;
  }

  th.nb-column-concluido {
    width: 100px;
  }

  tr:last-child td {
    font-weight: bold;
    background-color: #e6edff;
  }
}

.empty-state-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  gap: 10px;

  span {
    font-weight: 400;
    color: #ffffff6c;
  }
}